# Pandas Complete (Reading, sorting, filtering, groupby)

In [1]:
import pandas as pd
import numpy as np
import datetime

In [51]:
df = pd.read_csv("data/Pokemon.csv")

In [52]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [53]:
df.tail(10)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
790,714,Noibat,Flying,Dragon,245,40,30,35,45,40,55,6,False
791,715,Noivern,Flying,Dragon,535,85,70,80,97,80,123,6,False
792,716,Xerneas,Fairy,NaN,680,126,131,95,131,98,99,6,True
793,717,Yveltal,Dark,Flying,680,126,131,95,131,98,99,6,True
794,718,Zygarde50% Forme,Dragon,Ground,600,108,100,121,81,95,95,6,True
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [54]:
df.set_index("#")

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [55]:
filt1 = (df["Type 1"] == "Rock")

In [56]:
df[filt1]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
80,74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
81,75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
82,76,Golem,Rock,Ground,495,80,120,130,55,65,45,1,False
103,95,Onix,Rock,Ground,385,35,45,160,30,45,70,1,False
149,138,Omanyte,Rock,Water,355,35,40,100,90,55,35,1,False
150,139,Omastar,Rock,Water,495,70,60,125,115,70,55,1,False
151,140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
152,141,Kabutops,Rock,Water,495,60,115,105,65,70,80,1,False
153,142,Aerodactyl,Rock,Flying,515,80,105,65,60,75,130,1,False
154,142,AerodactylMega Aerodactyl,Rock,Flying,615,80,135,85,70,95,150,1,False
200,185,Sudowoodo,Rock,NaN,410,70,100,115,30,65,30,2,False
265,246,Larvitar,Rock,Ground,300,50,64,50,45,50,41,2,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
267,248,Tyranitar,Rock,Dark,600,100,134,110,95,100,61,2,False
268,248,TyranitarMega Tyranitar,Rock,Dark,700,100,164,150,95,120,71,2,False
323,299,Nosepass,Rock,NaN,375,30,45,135,45,90,30,3,False
369,337,Lunatone,Rock,Psychic,440,70,55,65,95,85,70,3,False
370,338,Solrock,Rock,Psychic,440,70,95,85,55,65,70,3,False
377,345,Lileep,Rock,Grass,355,66,41,77,61,87,23,3,False
378,346,Cradily,Rock,Grass,495,86,81,97,81,107,43,3,False
379,347,Anorith,Rock,Bug,355,45,95,50,40,50,75,3,False
380,348,Armaldo,Rock,Bug,495,75,125,100,70,80,45,3,False
414,377,Regirock,Rock,NaN,580,80,100,200,50,100,50,3,True
453,408,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False
454,409,Rampardos,Rock,NaN,495,97,165,60,65,50,58,4,False
455,410,Shieldon,Rock,Steel,350,30,42,118,42,88,30,4,False
456,411,Bastiodon,Rock,Steel,495,60,52,168,47,138,30,4,False
486,438,Bonsly,Rock,NaN,290,50,80,95,10,45,10,4,False
528,476,Probopass,Rock,Steel,525,60,55,145,75,150,40,4,False
583,524,Roggenrola,Rock,NaN,280,55,75,85,25,25,15,5,False
584,525,Boldore,Rock,NaN,390,70,105,105,50,40,20,5,False
585,526,Gigalith,Rock,NaN,515,85,135,130,60,80,25,5,False
627,566,Archen,Rock,Flying,401,55,112,45,74,45,70,5,False
628,567,Archeops,Rock,Flying,567,75,140,65,112,65,110,5,False
700,639,Terrakion,Rock,Fighting,580,91,129,90,72,90,108,5,True
758,688,Binacle,Rock,Water,306,42,52,67,39,56,50,6,False
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
766,696,Tyrunt,Rock,Dragon,362,58,89,77,45,45,48,6,False
767,697,Tyrantrum,Rock,Dragon,521,82,121,119,69,59,71,6,False
768,698,Amaura,Rock,Ice,362,77,59,50,67,63,46,6,False
769,699,Aurorus,Rock,Ice,521,123,77,72,99,92,58,6,False
773,703,Carbink,Rock,Fairy,500,50,50,150,50,150,50,6,False
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True

In [57]:
df[filt1].describe()

,#,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
count,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000,44.000000
mean,392.727273,453.750000,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545
std,213.746140,108.059227,20.833884,35.325458,36.447209,28.249670,32.265965,29.903580,1.848375
min,74.000000,280.000000,30.000000,40.000000,40.000000,10.000000,25.000000,10.000000,1.000000
25%,230.750000,360.250000,50.000000,59.750000,71.500000,45.000000,50.000000,35.000000,2.000000
50%,362.500000,467.500000,68.500000,95.000000,100.000000,60.000000,70.000000,50.000000,3.000000
75%,566.250000,516.500000,80.000000,120.250000,120.500000,74.250000,90.500000,70.000000,5.000000
max,719.000000,700.000000,123.000000,165.000000,200.000000,160.000000,150.000000,150.000000,6.000000

In [58]:
df[filt1].agg(["mean", "median", "max", "min"])

,#,Name,Type 1,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
mean,392.727273,NaN,NaN,453.75,65.363636,92.863636,100.795455,63.340909,75.477273,55.909091,3.454545,0.0909091
median,362.500000,NaN,NaN,467.50,68.500000,95.000000,100.000000,60.000000,70.000000,50.000000,3.000000,0
max,719.000000,Tyrunt,Rock,700.00,123.000000,165.000000,200.000000,160.000000,150.000000,150.000000,6.000000,True
min,74.000000,Aerodactyl,Rock,280.00,30.000000,40.000000,40.000000,10.000000,25.000000,10.000000,1.000000,False

In [59]:
df.sort_values(by="Name", ascending=True, inplace=True)

Adding values of pokemons

In [60]:
df.drop(columns=["Total"], inplace=True)

In [61]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

In [62]:
df["Total"] = df["HP"] + df["Attack"] + df["Defense"] + df["Sp. Atk"] + df["Sp. Def"] + df["Speed"]

In [63]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,494
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,310
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,465
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565

In [64]:
df.sort_index().head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [65]:
df.drop(columns=["Total"], inplace=True)

In [66]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False

Another Method to add Columns Values

In [67]:
df["Total"] = df.iloc[:, 4:10].sum(axis=1)  # axis =1 means rows

In [68]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False,494
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False,594
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False,310
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False,465
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False,565

Moving Total to left position

In [69]:
df = df[["#", "Name","Type 1", "Type 2", "Total", "HP", "Attack", "Defense", "Sp. Atk", "Sp. Def", "Speed", "Generation", "Legendary"]]

In [70]:
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,494,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,594,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,465,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,565,65,150,60,115,60,115,3,False

Another Method

In [71]:
df.columns.values

array(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack',
       'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation',
       'Legendary'], dtype=object)

In [72]:
list(df.columns.values)  # array to list

['#',
 'Name',
 'Type 1',
 'Type 2',
 'Total',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [73]:
cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12] ]     # this moves legendary from last position to 4th position
# [cols[-1]] - we have double square brackets here caz, that single cols[-1] forms just a list

In [74]:
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
510,460,Abomasnow,Grass,Ice,False,494,90,92,75,92,85,60,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,594,90,132,105,132,105,30,4
68,63,Abra,Psychic,NaN,False,310,25,20,15,105,55,90,1
392,359,Absol,Dark,NaN,False,465,65,130,60,75,60,75,3
393,359,AbsolMega Absol,Dark,NaN,False,565,65,150,60,115,60,115,3

In [75]:
df.set_index("#")

,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
#,,,,,,,,,,,,
460,Abomasnow,Grass,Ice,False,494,90,92,75,92,85,60,4
460,AbomasnowMega Abomasnow,Grass,Ice,False,594,90,132,105,132,105,30,4
63,Abra,Psychic,NaN,False,310,25,20,15,105,55,90,1
359,Absol,Dark,NaN,False,465,65,130,60,75,60,75,3
359,AbsolMega Absol,Dark,NaN,False,565,65,150,60,115,60,115,3
...,...,...,...,...,...,...,...,...,...,...,...,...
571,Zoroark,Dark,NaN,False,510,60,105,60,120,60,105,5
570,Zorua,Dark,NaN,False,330,40,65,40,80,40,65,5
41,Zubat,Poison,Flying,False,245,40,45,35,30,40,55,1
634,Zweilous,Dark,Dragon,False,420,72,85,70,65,70,58,5
718,Zygarde50% Forme,Dragon,Ground,True,600,108,100,121,81,95,95,6

In [77]:
df.to_csv("data/modified_pokemon.csv", index=False)

modified_pokemon is saved into the data folder

In [82]:
grass_pokemons = df.groupby(df["Type 1"])

In [85]:
grass_pokemons.get_group("Grass")

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
510,460,Abomasnow,Grass,Ice,False,494,90,92,75,92,85,60,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,594,90,132,105,132,105,30,4
652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5
167,153,Bayleef,Grass,NaN,False,405,60,62,80,63,80,60,2
197,182,Bellossom,Grass,NaN,False,490,75,80,95,90,100,50,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
77,71,Victreebel,Grass,Poison,False,490,80,105,65,100,70,70,1
50,45,Vileplume,Grass,Poison,False,490,75,80,85,110,90,50,1
701,640,Virizion,Grass,Fighting,True,580,91,90,72,90,129,108,5
76,70,Weepinbell,Grass,Poison,False,390,65,90,50,85,45,55,1
607,547,Whimsicott,Grass,Fairy,False,480,60,67,85,77,75,116,5

# REGEX OPERATIONS

In [93]:
df.loc[df["Type 1"].str.contains('Fire', regex = True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
64,59,Arcanine,Fire,NaN,False,555,90,110,80,100,80,95,1
278,257,Blaziken,Fire,Fighting,False,530,80,120,70,110,70,80,3
279,257,BlazikenMega Blaziken,Fire,Fighting,False,630,80,160,80,130,80,100,3
722,654,Braixen,Fire,NaN,False,409,59,59,58,90,70,73,6
353,323,Camerupt,Fire,Ground,False,460,70,100,70,105,75,40,3
354,323,CameruptMega Camerupt,Fire,Ground,False,560,70,120,100,145,105,20,3
6,6,Charizard,Fire,Flying,False,534,78,84,78,109,85,100,1
7,6,CharizardMega Charizard X,Fire,Dragon,False,634,78,130,111,130,85,100,1
8,6,CharizardMega Charizard Y,Fire,Flying,False,634,78,104,78,159,115,100,1
4,4,Charmander,Fire,NaN,False,309,39,52,43,60,50,65,1
5,5,Charmeleon,Fire,NaN,False,405,58,64,58,80,65,80,1
435,390,Chimchar,Fire,NaN,False,309,44,58,44,58,44,61,4
277,256,Combusken,Fire,Fighting,False,405,60,85,60,85,60,55,3
169,155,Cyndaquil,Fire,NaN,False,309,39,52,43,60,50,65,2
615,555,DarmanitanStandard Mode,Fire,NaN,False,480,105,140,55,30,55,95,5
616,555,DarmanitanZen Mode,Fire,Psychic,False,540,105,30,105,140,105,55,5
614,554,Darumaka,Fire,NaN,False,315,70,90,45,15,45,50,5
723,655,Delphox,Fire,Psychic,False,534,75,69,72,114,100,104,6
559,500,Emboar,Fire,Fighting,False,528,110,123,65,100,65,65,5
263,244,Entei,Fire,NaN,True,580,115,115,85,90,75,100,2
721,653,Fennekin,Fire,NaN,False,307,40,45,40,62,60,60,6
147,136,Flareon,Fire,NaN,False,525,65,130,60,95,110,65,1
730,662,Fletchinder,Fire,Flying,False,382,62,73,55,56,52,84,6
63,58,Growlithe,Fire,NaN,False,350,55,70,45,70,50,60,1
692,631,Heatmor,Fire,NaN,False,484,85,97,66,105,66,65,5
542,485,Heatran,Fire,Steel,True,600,91,90,106,130,106,77,4
270,250,Ho-oh,Fire,Flying,True,680,106,130,90,110,154,90,2
437,392,Infernape,Fire,Fighting,False,534,76,104,71,104,71,108,4
735,667,Litleo,Fire,Normal,False,369,62,50,58,73,54,72,6
259,240,Magby,Fire,NaN,False,365,45,75,37,70,55,83,2
237,219,Magcargo,Fire,Rock,False,410,50,50,120,80,80,30,2
135,126,Magmar,Fire,NaN,False,495,65,95,57,100,85,93,1
518,467,Magmortar,Fire,NaN,False,540,75,95,67,125,95,83,4
158,146,Moltres,Fire,Flying,True,580,90,100,90,125,85,90,1
436,391,Monferno,Fire,Fighting,False,405,64,78,52,78,52,81,4
43,38,Ninetales,Fire,NaN,False,505,73,76,75,81,100,100,1
352,322,Numel,Fire,Ground,False,305,60,60,40,65,45,35,3
572,513,Pansear,Fire,NaN,False,316,50,53,48,53,48,64,5
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
83,77,Ponyta,Fire,NaN,False,410,50,85,55,65,65,90,1
736,668,Pyroar,Fire,Normal,False,507,86,68,72,109,66,106,6
170,156,Quilava,Fire,NaN,False,405,58,64,58,80,65,80,2
84,78,Rapidash,Fire,NaN,False,500,65,100,70,80,80,105,1
573,514,Simisear,Fire,NaN,False,498,75,98,63,98,63,101,5
236,218,Slugma,Fire,NaN,False,250,40,40,40,70,40,20,2
731,663,Talonflame,Fire,Flying,False,499,78,81,71,74,69,126,6
557,498,Tepig,Fire,NaN,False,308,65,63,45,45,45,45,5
276,255,Torchic,Fire,NaN,False,310,45,60,40,70,50,45,3
355,324,Torkoal,Fire,NaN,False,470,70,85,140,85,70,20,3
171,157,Typhlosion,Fire,NaN,False,534,78,84,78,109,85,100,2
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6
42,37,Vulpix,Fire,NaN,False,299,38,41,40,50,65,65,1

In [95]:
df.loc[df["Type 1"].str.contains('Fire|Grass', regex = True)]

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
510,460,Abomasnow,Grass,Ice,False,494,90,92,75,92,85,60,4
511,460,AbomasnowMega Abomasnow,Grass,Ice,False,594,90,132,105,132,105,30,4
652,591,Amoonguss,Grass,Poison,False,464,114,85,70,85,80,30,5
64,59,Arcanine,Fire,NaN,False,555,90,110,80,100,80,95,1
167,153,Bayleef,Grass,NaN,False,405,60,62,80,63,80,60,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,640,Virizion,Grass,Fighting,True,580,91,90,72,90,129,108,5
799,721,Volcanion,Fire,Water,True,600,80,110,120,130,90,70,6
42,37,Vulpix,Fire,NaN,False,299,38,41,40,50,65,65,1
76,70,Weepinbell,Grass,Poison,False,390,65,90,50,85,45,55,1
607,547,Whimsicott,Grass,Fairy,False,480,60,67,85,77,75,116,5

In [96]:
df.loc[df["Name"].str.contains('Pi[a-z]*', regex = True)]       # Name containing Pi will be printed

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
716,648,MeloettaPirouette Forme,Normal,Fighting,False,600,100,128,90,77,77,128,5
186,172,Pichu,Electric,NaN,False,205,20,40,15,35,35,60,2
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
578,519,Pidove,Normal,Flying,False,264,50,55,50,36,30,43,5
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
30,25,Pikachu,Electric,NaN,False,320,35,55,40,50,50,90,1
239,221,Piloswine,Ice,Ground,False,450,100,100,80,60,60,50,2
219,204,Pineco,Bug,NaN,False,290,50,65,90,35,35,15,2
136,127,Pinsir,Bug,NaN,False,500,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
438,393,Piplup,Water,NaN,False,314,53,51,53,61,56,40,4

In [97]:
df.loc[df["Name"].str.contains('^Pi[a-z]*', regex = True)]   # Name starts from Pi will be printed

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
186,172,Pichu,Electric,NaN,False,205,20,40,15,35,35,60,2
22,18,Pidgeot,Normal,Flying,False,479,83,80,75,70,70,101,1
23,18,PidgeotMega Pidgeot,Normal,Flying,False,579,83,80,80,135,80,121,1
21,17,Pidgeotto,Normal,Flying,False,349,63,60,55,50,50,71,1
20,16,Pidgey,Normal,Flying,False,251,40,45,40,35,35,56,1
578,519,Pidove,Normal,Flying,False,264,50,55,50,36,30,43,5
558,499,Pignite,Fire,Fighting,False,418,90,93,55,70,55,55,5
30,25,Pikachu,Electric,NaN,False,320,35,55,40,50,50,90,1
239,221,Piloswine,Ice,Ground,False,450,100,100,80,60,60,50,2
219,204,Pineco,Bug,NaN,False,290,50,65,90,35,35,15,2
136,127,Pinsir,Bug,NaN,False,500,65,125,100,55,70,85,1
137,127,PinsirMega Pinsir,Bug,Flying,False,600,65,155,120,65,90,105,1
438,393,Piplup,Water,NaN,False,314,53,51,53,61,56,40,4

In [ ]:
df.loc[df["Name"].str.contains('^Pi[a-z]*', regex = True)]   # Name starts from Pi will be printed

Change Fire to Flamer from Type 1 column

In [98]:
flame = (df["Type 1"] == "Fire")

In [99]:
df.loc[flame, "Type 1"] = "Flamer"

In [103]:
df.sort_index()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
0,1,Bulbasaur,Grass,Poison,False,318,45,49,49,65,65,45,1
1,2,Ivysaur,Grass,Poison,False,405,60,62,63,80,80,60,1
2,3,Venusaur,Grass,Poison,False,525,80,82,83,100,100,80,1
3,3,VenusaurMega Venusaur,Grass,Poison,False,625,80,100,123,122,120,80,1
4,4,Charmander,Flamer,NaN,False,309,39,52,43,60,50,65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,True,600,50,100,150,100,150,50,6
796,719,DiancieMega Diancie,Rock,Fairy,True,700,50,160,110,160,110,110,6
797,720,HoopaHoopa Confined,Psychic,Ghost,True,600,80,110,60,150,130,70,6
798,720,HoopaHoopa Unbound,Psychic,Dark,True,680,80,160,60,170,130,80,6
799,721,Volcanion,Flamer,Water,True,600,80,110,120,130,90,70,6

OR Another Method

In [105]:
df.loc[df["Type 1"] == "Grass", "Type 1"] = "Grasses"

In [106]:
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
510,460,Abomasnow,Grasses,Ice,False,494,90,92,75,92,85,60,4
511,460,AbomasnowMega Abomasnow,Grasses,Ice,False,594,90,132,105,132,105,30,4
68,63,Abra,Psychic,NaN,False,310,25,20,15,105,55,90,1
392,359,Absol,Dark,NaN,False,465,65,130,60,75,60,75,3
393,359,AbsolMega Absol,Dark,NaN,False,565,65,150,60,115,60,115,3

In [107]:
df.loc[df["Type 1"] == "Flamer", "Legendary"] = True  # All flamer pokemons sets to True legendary

In [108]:
df.head()

,#,Name,Type 1,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
510,460,Abomasnow,Grasses,Ice,False,494,90,92,75,92,85,60,4
511,460,AbomasnowMega Abomasnow,Grasses,Ice,False,594,90,132,105,132,105,30,4
68,63,Abra,Psychic,NaN,False,310,25,20,15,105,55,90,1
392,359,Absol,Dark,NaN,False,465,65,130,60,75,60,75,3
393,359,AbsolMega Absol,Dark,NaN,False,565,65,150,60,115,60,115,3

In [116]:
df.groupby(["Name"]).mean()

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Name,,,,,,,,,,
Abomasnow,460,False,494,90,92,75,92,85,60,4
AbomasnowMega Abomasnow,460,False,594,90,132,105,132,105,30,4
Abra,63,False,310,25,20,15,105,55,90,1
Absol,359,False,465,65,130,60,75,60,75,3
AbsolMega Absol,359,False,565,65,150,60,115,60,115,3
...,...,...,...,...,...,...,...,...,...,...
Zoroark,571,False,510,60,105,60,120,60,105,5
Zorua,570,False,330,40,65,40,80,40,65,5
Zubat,41,False,245,40,45,35,30,40,55,1
Zweilous,634,False,420,72,85,70,65,70,58,5
Zygarde50% Forme,718,True,600,108,100,121,81,95,95,6

In [117]:
df.groupby(["Name"]).mean().sort_values("Defense", ascending = False) # pokemon better in defense

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Name,,,,,,,,,,
AggronMega Aggron,306,False,630,70,140,230,60,80,50,3
SteelixMega Steelix,208,False,610,75,125,230,55,95,30,2
Shuckle,213,False,505,20,10,230,10,230,5,2
Steelix,208,False,510,75,85,200,55,65,30,2
Regirock,377,True,580,80,100,200,50,100,50,3
...,...,...,...,...,...,...,...,...,...,...
Igglybuff,174,False,210,90,30,15,40,20,15,2
Smoochum,238,False,305,45,30,15,85,65,65,2
Blissey,242,False,540,255,10,10,75,135,55,2
Happiny,440,False,220,100,5,5,15,65,30,4
Chansey,113,False,450,250,5,5,35,105,50,1

In [118]:
df.groupby(["Name"]).mean().sort_values("Attack", ascending = False)  # Pokemon Better in Attack

,#,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Name,,,,,,,,,,
MewtwoMega Mewtwo X,150,True,780,106,190,100,154,100,130,1
HeracrossMega Heracross,214,False,600,80,185,115,40,105,75,2
GroudonPrimal Groudon,383,True,770,100,180,160,150,90,90,3
DeoxysAttack Forme,386,True,600,50,180,20,180,20,150,3
RayquazaMega Rayquaza,384,True,780,105,180,100,180,100,115,3
...,...,...,...,...,...,...,...,...,...,...
Magikarp,129,False,200,20,10,55,15,20,80,1
Shuckle,213,False,505,20,10,230,10,230,5,2
Blissey,242,False,540,255,10,10,75,135,55,2
Chansey,113,False,450,250,5,5,35,105,50,1
Happiny,440,False,220,100,5,5,15,65,30,4

In [119]:
df.groupby(["Type 1"]).count()

,#,Name,Type 2,Legendary,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation
Type 1,,,,,,,,,,,,
Bug,69,69,52,69,69,69,69,69,69,69,69,69
Dark,31,31,21,31,31,31,31,31,31,31,31,31
Dragon,32,32,21,32,32,32,32,32,32,32,32,32
Electric,44,44,17,44,44,44,44,44,44,44,44,44
Fairy,17,17,2,17,17,17,17,17,17,17,17,17
Fighting,27,27,7,27,27,27,27,27,27,27,27,27
Flamer,52,52,24,52,52,52,52,52,52,52,52,52
Flying,4,4,2,4,4,4,4,4,4,4,4,4
Ghost,32,32,22,32,32,32,32,32,32,32,32,32
Grasses,70,70,37,70,70,70,70,70,70,70,70,70
Ground,32,32,19,32,32,32,32,32,32,32,32,32
Ice,24,24,11,24,24,24,24,24,24,24,24,24
Normal,98,98,37,98,98,98,98,98,98,98,98,98
Poison,28,28,13,28,28,28,28,28,28,28,28,28
Psychic,57,57,19,57,57,57,57,57,57,57,57,57
Rock,44,44,35,44,44,44,44,44,44,44,44,44
Steel,27,27,22,27,27,27,27,27,27,27,27,27
Water,112,112,53,112,112,112,112,112,112,112,112,112